In [13]:
import pandas as pd

df = pd.read_csv('./data/output.csv')
df.head()

,id,app_id,content,author_id,is_positive
0,181331361,100,At least its a counter strike -1/100,76561199556485100,Negative
1,180872601,100,Uh... So far my playthrough has not been great...,76561199230620391,Negative
2,177836246,100,Better mechanics than cs2,76561198417690647,Negative
3,177287444,100,buggy mess and NOT fun to play at all,76561199077268730,Negative
4,176678990,100,"Whoever came up with this, is gonna fucking ge...",76561199104544266,Negative

In [14]:
df.shape

(201151, 5)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201151 entries, 0 to 201150
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           201151 non-null  int64
 1   app_id       201151 non-null  int64
 2   content      200723 non-null  object
 3   author_id    201151 non-null  int64
 4   is_positive  201151 non-null  object
dtypes: int64(3), object(2)
memory usage: 7.7+ MB

In [16]:
df.isnull().sum()

id               0
app_id           0
content        428
author_id        0
is_positive      0
dtype: int64

In [ ]:
x = df.drop(columns = ['id, app_id, author_id, is_positive'])
y = df['is_positive']